<h1>Planet Details</h1>

<h2><%= planet["name"] %></h2>
<img src="<%= planet["image_url"]%>" alt="<%= planet["name"] %>" class="detail">
<p><b>Diameter: </b><%= planet["diameter"] %> km</p>
<p><b>Mass: </b><%= planet["mass"] %> kg</p>
<p><b>Moon: </b><%= planet["moon_count"] %></p>