
<img src="<%= planet[0]["image_url"] %>" alt="<%= planet[0]["name"] %>">

<h1><%= planet[0]["name"] %> facts</h1>
<h3>Diameter: <%= planet[0]["diameter"] %> km</h3>
<h3>Mass: <%= planet[0]["mass"] %> M⊕</h3>
<h3>Moon Count: <%= planet[0]["moon_count"] %> </h3>