<h1><%= planet_name %></h1>
<p><%= planet_name %> is a fascanating planet! With a mass of <%= planet_mass %> x 10^24 kg and a diameter of <%= planet_diameter %> kilometers, it sure is a planet!</p>
<p>It's even got <%= planet_moon_count %> moons!</p>
<span class="big_pic">
    <img src="<%= planet_image_url %>" alt="an image of <%= planet_name %>">
</span>