<h1>Planet details</h1>
<h2>
Name of the planet : <%= planet["name"]%>
<p>
Diameter of the planet : <%= planet["diameter"]%>
<p>
Mass of the planet : <%= planet["mass"]%>
<p>
No: of moons : <%= planet["moon_count"]%>
</h2>

<img src = "<%=planet["image_url"]%>">