<h1>Planet details</h1>
<h2 class="heading"><a href="/planets/<%=planet['id']%>/edit">Edit planet info</a>
<span><a href="/">Home</a></span></h2>

<h2>
Name of the planet : <%= planet["name"]%>
<p>
Diameter of the planet : <%= planet["diameter"]%>
<p>
Mass of the planet : <%= planet["mass"]%>
<p>
No: of moons : <%= planet["moon_count"]%>
</h2>
<div class="planet-img">
<img src = "<%=planet["image_url"]%>" alt =<%= planet['name']%>>
</div>

<form action="/planets/<%= planet['id']%>" method ="post">
    <input type="hidden" name = "_method" value="delete">
    <input type="hidden" name = "planet_id" value = "<%= planet['id'] %>">
    <div class="delete-btn"><button id="del-btn">delete</button></div>
  
</form>

