<h1>Planet details of <%= planet['name']%></h1>

<h2>Planet's diameter:  <%= planet['diameter']%></h2>
<h2>Planet's mass:  <%= planet['mass']%></h2>
<h2>Number of moons:  <%= planet['moon_count']%></h2>
<img src="<%= planet['image_url']%>" alt="">
