<h1>Planet details for <%= planet_names['name'] %></h1>
<h2>Diameter: <%= planet_names['diameter'] %> </h2>
<h2>Mass: <%= planet_names['mass'] %> </h2>
<h2>Moon Count: <%= planet_names['moon_count'] %> </h2>

<img src="<%= planet_names['image_url'] %>" alt="">