

<h1>Planet details for <%=planet["name"]%></h1>

<img src="<%=planet["image_url"]%>">

<h3>Diameter: <%=planet["diameter"]%> kms</h3>

<h3>Mass: <%=planet["mass"]%> kg</h3>

<h3>Number of Moons: <%=planet["moon_count"]%></h3>