<h1><%=planet["name"] %></h1>

<p>
    diameter:
    <%=planet["diameter"] %>
</p>
<p>
    mass:
    <%=planet["mass"] %>
</p>
<p>
    moon count:
    <%=planet["moon_count"] %>
</p>
<p>
    <img src="<%=planet["image_url"] %>" alt="">
</p>



