<h1>Planets details</h1>

<h2> this is planet<%= planet['name'] %>  </h2>

<img src="<%= planet['image_url'] %>" alt="">
<p> Diameter is : <%= planet['diameter'] %> </p>
<p> Mass: <%= planet['mass'] %> </p>
<p> Moon Count: <%= planet['moon_count'] %> </p>


<form action="/delete_data/<%=planet['id']%>" method= "post">
    <input type="text" name= "_method" value="delete">
    <button> delete </button>
</form>

<a href="/edit_data/<%= planet['id']%>">edit</a>  