<h1>details of the planet </h1>

<h1><%= planet['name'] %></h1>
<img src="<%= planet['image_url'] %>" alt="">
<h3>Diameter: <%= planet['diameter'] %> </h3>
<h4>Mass: <%= planet['mass'] %> </h4>
<h5>Number of Moons: <%= planet['moon_count'] %> </h5>

<form action="/delete_data/<%= planet['id']%>" method="post">
<input type="hidden" name="_method" value="delete">
<input type="hidden" name="planet_id" value="<%= planet['id']%>">
<button>Delete</button>

</form>

<a href="/edit_data/<%= planet['id']%>">Edit</a>