<h2>Planet details for <%= planet["name"] %> </h2>
<img src="<%= planet['image_url'] %>" alt="<%= planet["name"] %>">
<h3>Diameter: <%= planet["diameter"]%> kms</h3>
<h3>Mass: <%= planet["mass"] %> kgs</h3>
<h3>Moon Count: <%= planet["moon_count"] %> </h3>

<form action="/planets/<%= planet['id'] %>" method="post">
    <input type="hidden" name="_method" value = "delete">
    <input type="hidden" name="planet_id" value = "<%= planet['id'] %>">
    <button>Delete</button>
</form>

<a href="/planets/<%=planet['id']%>/edit">Edit this listing</a>