<div class='movie-details'>
    <%# <img src=<%=movie['Poster']%> 
    <div class="image" style="background-color:blue">
        <img src=<%=movie['Poster']%>/>
    </div>
    <div class='wrapper'>
        <h1><%=movie['Title']%></h1>
        <div class='movie-wrap'><span>Released: </span><%=movie['Released']%><span> | Run-time: </span><%=movie['Runtime']%><span> | Rated: </span><%=movie['Rated']%></div>
        <br/>
        <div class='movie-wrap'> <%=movie['Plot']%> </div>
        <br/>
        <div class='movie-wrap credits'> <span>Director: </span><%=movie['Director']%> <span></div>
        <div class='movie-wrap credits'> <span>Written by: </span><%=movie['Writer']%> <span></div>
        <div class='movie-wrap credits'> <span>Written by: </span><%=movie['Writer']%> <span></div>
        <div class='movie-wrap credits'> <span>Starring: </span><%=movie['Actors']%> <span></div>
    </div>





</div>

  