<h1><%= planet["name"] %></h1>

<p>Diameter: <%= planet["diameter"] %> km</p>
<p>Mass: <%= planet["mass"] %> kg</p>
<p>Number of moons: <%= planet["moon_count"] %></p>

<img src="<%= planet["image_url"] %>" alt="<%= planet["name"] %>">

