<div style='display:inline-block'>
<img src="/images/<%=planet['image_url']%>">
</div>
<div style='display:inline-block; position:absolute; top:1px; padding-left:10px;'>
<h1 style='margin:0; padding:0;'><%=planet['name']%></h1>
<p>DIAMETER: <%=planet['diameter']%><br/>
MASS: <%=planet['mass']%><br/>
MOONS: <%=planet['moon_count']%>
</div>
