
    <h1>Search Result:</h1>
    <ul>
    <p><b>Title: </b> <%= title %></p>
    <p><b>Language: </b> <%= language %></p>
    <p><b>Year: </b> <%= year %></p>
    <p><b>Rate: </b> <%= rate %></p>
    <p><b>Genre:</b> <%= genre %></p>
    <p><b>Director: </b> <%= director %></p>
    <p><b>Actors: </b> <%= actors %></p>
    </ul>
    <img src="<%= poster %>" alt="">
