<h1>planet details for <%=planet['name'] %></h1>

<h2><div id="diameter"> diameter:<%= planet['diameter'] %> </div>
<div id="mass"> mass:<%= planet['mass'] %> </div>
<div id="moon_count"> moon count:<%= planet['moon_count'] %> </div>
</h2>

<img src="<%=planet['image_url'] %>" alt="" srcset="">

<form action="/delete_planet/<%= planet['id'] %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>delete</button>
</form>



<a href="/edit_planet/<%= planet['id'] %>">edit this planet.</a>